<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="79f379">  <td>20/07/24 22:48:31</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExampleTestCases.GetWeatherDetails()[pri:0, instance:com.TestExample.ExampleTestCases@6eebc39e]">GetWeatherDetails</td> 
  <td>main@36202360</td>   <td></td> </tr>
<tr bgcolor="79f379">  <td>20/07/24 22:48:38</td>   <td>6852</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ExampleTestCases.getAvailabePets()[pri:0, instance:com.TestExample.ExampleTestCases@6eebc39e]">getAvailabePets</td> 
  <td>main@36202360</td>   <td></td> </tr>
</table>
